// Quasar SCSS Variables
$primary   : #22c55e;
$secondary : #3b82f6;
$accent    : #8b5cf6;

$dark      : #1C1C1E;
$dark-page : #121212;

$positive  : #22c55e;
$negative  : #ef4444;
$info      : #3b82f6;
$warning   : #f59e0b;
